* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #0B2330;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #0B2330;
    --white-color: white;
}

.header,
.main {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.menu {
    height: 83px;
    column-gap: 141px;
    justify-content: space-between;
}

.menu,
.logo,
.menu-main,
.menu-login,
.artikle-one,
.context-buttons,
.companies-logos,
.article-two,
.article-four,
.article-five--contextual,
.article-five--video,
.article-five--concept,
.trio,
.article-six--purpose,
.article-six--combo1,
.article-six--more1,
.article-six--analysis,
.article-six--templates {
    display: flex;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a,
.button {
    font-size: 16px;
    line-height: 24px;
}

.logo {
    align-items: center;
    padding: 16px 0 15px 32px;
}

.menu-main,
.menu-login {
    align-items: center;
    column-gap: 24px;
}

.menu-main--item,
.menu-login--item {
    padding: 28px 12px 31px;
    column-gap: 24px;
}

.button {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 29px;
    height: 54px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-start {
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-right: 32px;
}

.artikle-one {
    height: 448px;
    padding-left: 147px;
    column-gap: 135px;
}

.context {
    padding-top: 160px;
    width: 448px;
}

.context h1,
.article-six--features h2 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--dark-color);
}

.context p,
.article-twoo-content p,
.article-five--solution p {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}

.context p {
    color: #375361;
    margin: 24px 0 40px;
}

.context-buttons {
    column-gap: 16px;
}

.button-orange {
    background: #F9C600;
    color: var(--dark-color);
}

.button-white {
    background: none;
    color: black;
    border: 1px solid var(--dark-color);
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.pictures-orange {
    grid-column: 6 / -1;
    grid-row: 1;
}

.pictures-foto {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 0;
    margin-left: 50px;
    z-index: 1;
}

.companies {
    margin: 630px 149px 192px;
}

.companies h2,
.article-four--content h2,
.article-five--solution h2 {
    font-size: 42px;
    line-height: 48px;
    color: var(--dark-color);
    letter-spacing: 0.42px;
    font-weight: normal;
}

.companies h2 {
    text-align: center;
    margin: 0 214px 40px;
}

.companies-logos {
    column-gap: 57px;
    margin-top: 16px;
}

.article-two {
    margin: 0 32px;
    background: #51CEBC;
    border-radius: 10px;
    column-gap: 20px;
}

.article-two img {
    margin: 56px 0;
}

.article-two-content {
    margin: 115px 116px 131px 0;
}

.article-two-content h3,
.article-three h3,
.article-five--content h3 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--dark-color);
}

.article-two-content p {
    margin-top: 34px;
    color: var(--dark-color);
}

.article-three {
    margin-top: 192px;
}

.article-three h3 {
    margin: 0 365px 57px;
    text-align: center;
}

.article-three img {
    margin: 0 265px 113px;
}

.button-orange-2 {
    margin: 0 638px;
}

.article-four {
    margin: 160px 32px 120px;
    position: relative;
}

.article-four--img {
    padding: 0;
    margin: 64px 0;
    z-index: 1;
}

.article-four--content {
    position: absolute;
    padding: 106px 116px 123px 582px;
    margin-left: 116px;
    background: #BD78F0;
    border-radius: 10px;
}

.article-four--content p,
.article-five--content p,
.article-five--vid p,
.article-five--con p {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.article-four--content p {
    color: var(--dark-color);
    margin: 30px 0;
}

.article-five {
    margin: 136px 32px 136px 148px;
}

.article-five--solution h4 {
    color: #6A7981;
    margin-bottom: 16px;
}

.article-five--solution h4,
.article-six--features {
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.article-five--solution h4,
.trio button,
.article-six--features h4 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.article-five--solution p {
    margin: 24px 0 218px;
}

.article-five--contextual,
.article-five--video,
.article-five--concept {
    column-gap: 234px;
}

.article-five--content,
.article-five--vid {
    margin: 7px 0;
}

.article-five--content h3,
.article-five--vid h3,
.article-five--con h3 {
    margin: 24px 0;
}

.article-five--content button,
.article-five--vid button {
    margin: 64px 0 133px;
}

.article-five--con {
    margin: 7px 0 0;
}

.article-five--con button {
    margin: 64px 0 0;
}

.trio {
    column-gap: 8px;
    text-decoration: none;
}

.button-gray,
.button-orange {
    border: none;
    border-radius: 3px;
    padding: 5px 35px 0 5px;
}

.button-gray {
    background: lightgray;
    color: #375361;
}

.button-orange {
    background: #fe9f28;
    color: var(--dark-color);
}

.article-six {
    background: #F2EDE7;
    padding: 96px 122px;
    width: 1440px;
}

.article-six--features h2 {
    text-transform: none;
    margin: 10px 133px 128px 0;
}

.article-six--purpose {
    column-gap: 300px;
}

.article-six--combo {
    border-top: 1px solid #F78D9A;
}

.article-six--combo1 {
    column-gap: 319px;
    margin: 26px 0;
}

.article-six--combo1 p,
.article-six--analysis,
.article-six--templates {
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-color);
}

.article-six--more p {
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-color);
}

.article-six--more1 {
    column-gap: 8px;
    margin: 39px 0 25px;
}

.article-six--analysis,
.article-six--templates {
    border-top: 1px solid #c3cacd;
}

.article-six--analysis {
    column-gap: 437px;
}

.article-six--analysis p,
.article-six--templates p {
    margin: 24px 0;
}

.article-six--templates {
    column-gap: 444px;
    border-bottom: 1px solid #c3cacd;
    margin-bottom: 96px;
}