* {
    color: black;
    font-size: 40px;
}

.body {
    width: 624px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.header,
.menu,
.post,
.footer {
    border: 3px solid black;
}

.header,
.footer {
    width: 100%;
    padding: 20px 0;
}

.header {
    background: chartreuse;
}

.header,
.menu,
.post {
    margin-bottom: 20px;
}

.menu {
    width: 200px;
    background: pink;
    padding: 100px 0;
}

.main {
    display: flex;
    column-gap: 20px;
}

.posts {
    width: 400px;
}

.post {
    background: blue;
    padding: 30px 60px;
    width: 280px;
}

.footer {
    background: gold;
}